@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --color-1: #e0e9eb; /* Fondo claro */
  --color-2: #e0e7eb;
  --color-3: #e3e6e8;
  --color-4: #e87d8f; /* Color principal rosa */
  --color-5: #e87d7d;
  --color-6: #e87d7d;
}